* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.navbar-enlaces {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0 3rem;
}

.navbar-enlaces li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-enlaces li a:hover {
  color: gray;
}